<footer id="footer_template">
  <div class="footer_top">
    <div class="name_socials">
      <div class="footer_socials">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>

    <div class="footer_template_links">
      <ul>
        <li><a href="../index.html">home</a></li>
        <li><a href="../about.html">about</a></li>
        <li><a href="../portfolio.html">portfolio</a></li>
        <li><a href="../contact.html">contact</a></li>
      </ul>
    </div>
  </div>

  <div class="wrapper">
    <div class="coded_by-con">
      <div class="avatar_con">
        <img class="my_avatar" src="../static/images/brills-avatar.png" alt="" />
      </div>

      <div class="coder_name-con">
        <p class="coder_name">
          <span class="design">Designed and </span>
          <span class="dev">Developed by Brill</span>
        </p>
      </div>
    </div>
  </div>
</footer>
