<nav class="nav__tab-con">
    <div class="nav__tab">
        <div class="logo__con">
            <div class="logo">
                <img class="logo__img" src="/static/images/emmibrill.png" alt="emmibrill_name_logo">
            </div>
        </div>
        
        <div class="hambugger" aria-controls="closed">
            <span class="dash one"></span>
            <span class="dash two"></span>
            <span class="dash three"></span>
        </div>

        <div class="nav__list-con">
            <div class="nav__list">
                <ul class="lists">
                    <li class="list"><a class="list__tab" href="index.html">home</a></li>
                    <li class="list"><a class="list__tab" href="about.html">about</a></li>
                    <li class="list"><a class="list__tab" href="services.html">services</a></li>
                    <li class="list"><a class="list__tab" href="portfolio.html">portfolio</a></li>
                    <li class="list"><a class="list__tab" href="tools.html">tools</a></li>
                    <li class="list"><a class="list__tab" href="contact.html">contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>